#theme-toggle {
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 0;
    border: none;
    outline: none;
    text-align: left;
    font-size: 16px;
    display: list-item;
}

.typo-title{
    font-size: 24px;
    letter-spacing: 0.1em;
}

.card {
    margin: 15px -4%;
}

.card-primary {
    padding: 10px 15px;
}

.card-header {
    position: relative;
    height: 72px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 24px 16px 16px 16px;
}

/* 卡片头部头像 */
.card-primary-avatar {
    float: right;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url('//pic.images.ac.cn/image/5e9ed0d608d40.html') no-repeat center;
    background-size: cover;
}
/* https://ae01.alicdn.com/kf/H901bfb2702f94d5f862145418896c5fa5.jpg */

.card-character-avatar {
    display: grid;
    margin: auto 20px auto 10px;
    width: 80px;
    height: 80px;
    border-radius: 25%;
}

.c1-divider {
    margin-top: 30px;
}

.card-content {
    padding: 8px 16px;
}

.card:first-child > .card-content {
    
}

.card:nth-child(2) > .card-content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
}

.card-content,.panel-item-header {
    font-size: 18px;
}

.tag-area {
    display: grid;
}

.tag {
    margin: 6px 0;
}

.chip {
    color: white;
    text-align: center;
    width: 60px;
    height: 25px;
    background-color: #f44336;
    display: table-cell;
}

.chip:active {
    background-color: #ff1100;
}

.chip-title {
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    vertical-align: baseline;
}

.chip-content {
    padding-left: 10px;
    display: table-cell;
    vertical-align: baseline;
}

/* 滑动信息框 */
.container {
    width: 90%;
    height: auto;
    margin: 5%;
}

.avatar-column-title {
    font-size: 16px;
    margin: auto 10px;
    line-height: 20px;
    letter-spacing: 2px;
}

.scrolling-container {
    width: auto;
    height: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}

.scrolling-container::-webkit-scrollbar {
    display: none; /*不展示横向滚动条*/
}

.avatar-box {
    width: fit-content;
    height: fit-content;
    margin: 5px 0;
    display: inline-grid;
}

.character-avatar {
    width: 50px;
    height: 50px;
    margin:0 5px;
    display: block;
    border-radius: 50%;
}

.avatar-name {
    color: red;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 30px;
    width: 60px;
    display: flex;
    justify-content:center;
    align-items:center;
}
